<apex:page standardController="Project__c" extensions="DisplayProjectImageExtension">
    <table width="100%">
        <tr>
            <td style="width: 36%; vertical-align:top; color: #4a4a56; text-align:right; font-family: Arial,Helvetica,sans-serif; font-weight: bold; font-size: 91%; padding-right:17px;">Main image</td>
            <td style="padding-left:10px; padding-right:16px;"><img id="main_project_img" src="{!imageSrc}" style="max-height: 100px; max-width: 150px; cursor: hand; cursor: pointer;" onclick="window.open('{!imageSrc}', 'Main Project Image','width=640,height=480');"/></td>
        </tr>
    </table>
</apex:page>