<apex:page Controller="ERTAILMyActionsController" sidebar="false" tabStyle="Campaigns_Dashboard__tab">
    <c:ERTAILStyle />
    <c:ERTAILGraphsStyle />
    <style>
    	.table > tbody > tr > td > a{
    		color:black;
    	}
    	.table > tbody > tr > td > a:hover{
    		color:#d16d18;
    	}
    </style>
    <div class="container detail">
      <div class="row">
        <div class="col-content col-xs-9 col-xs-height" style="width:100%!important;">
   		<div style="margin-top:10px;">&nbsp;&#171;&nbsp;<a href="/apex/ERTAILCampaignsDashboard">Back to Campaigns Dashboard</a></div>    
          <h3>My Pending Actions</h3>
          <div class="panel-group" id="accordion">

            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isHQPM), CampaignMarketsWithScopeOrDatesPendingHQPMApproval.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">HQPM: Market Launch/End date or Scope change proposal<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th>Proposal</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th>Proposal</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.End_Date__c.label}"/></th>
                          <th>Proposal</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignMarketsWithScopeOrDatesPendingHQPMApproval}" var="c">
                        <tr>
                          <td><a href="/{!c.Id}"><apex:outputField value="{!c.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(c.Scope_Limitation__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{!IF(AND(c.MPM_Scope_Limitation_Proposal__c != c.Scope_Limitation__c, c.MPM_Scope_Limitation_Proposal__c != MPM_PROPOSAL_INHERIT), BLANKVALUE(c.MPM_Scope_Limitation_Proposal__c, SCOPE_COMPLETE), '')}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.MPM_Launch_Date_Proposal__c}" /></apex:outputText></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.End_Date__c}" /></apex:outputText></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.MPM_End_Date_Proposal__c}" /></apex:outputText></td>
                          <th scope="row"  style="text-align:center;"><a href="/apex/ERTAILCampaignBoutiqueSelection?Id={!c.Id}&retURL=/apex/ERTAILMyActions"><span class="glyphicon glyphicon-new-window"></span></a></th>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>

            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isHQPM), CampaignBoutiquesWithScopeOrDatesPendingHQPMApproval.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">HQPM: Boutique Launch/End date or Scope change proposal<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th>Boutique</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th>Proposal</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th>Proposal</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.End_Date__c.label}"/></th>
                          <th>Proposal</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignBoutiquesWithScopeOrDatesPendingHQPMApproval}" var="c">
                        <tr>
                        	<td><a href="/{!c.Campaign_Market__c}"><apex:outputField value="{!c.Campaign_Market__r.Name}" /></a></td>
	                        <td><apex:outputField value="{!c.Name}" /></td>
	                        <td><apex:outputText value="{!BLANKVALUE(c.Scope_Limitation__c, SCOPE_COMPLETE)}" /></td>
	                        <td><apex:outputText value="{!IF(AND(c.MPM_Scope_Limitation_Proposal__c != c.Scope_Limitation__c, c.MPM_Scope_Limitation_Proposal__c != MPM_PROPOSAL_INHERIT), BLANKVALUE(c.MPM_Scope_Limitation_Proposal__c, SCOPE_COMPLETE), '')}" /></td>
	                        <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.Launch_Date__c}" /></apex:outputText></td>
	                        <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.MPM_Launch_Date_Proposal__c}" /></apex:outputText></td>
	                        <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.End_Date__c}" /></apex:outputText></td>
	                        <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.MPM_End_Date_Proposal__c}" /></apex:outputText></td>
	                        <th scope="row"  style="text-align:center;"><a href="/apex/ERTAILCampaignBoutiqueSelection?Id={!c.Campaign_Market__c}&retURL=/apex/ERTAILMyActions"><span class="glyphicon glyphicon-new-window"></span></a></th>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>

            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isHQPM), CampaignsWithHQPMRequestedActions_CreativityQuantity.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseOne">HQPM: Creativity/Quantity to Propose or Approve<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>   
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Show_Window_Status_Formula__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.In_Store_Status_Formula__c.label}"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignsWithHQPMRequestedActions_CreativityQuantity}" var="campaign">
                        <tr>
                          <td><a href="/{!campaign.Id}"><apex:outputField value="{!campaign.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(campaign.Scope__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!campaign.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!campaign.Show_Window_Status_Formula__c}" /></td>
                          <td><apex:outputField value="{!campaign.In_Store_Status_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>

            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isHQPM), CampaignsWithHQPMRequestedActions_Costs.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">HQPM: Costs/Fees to  confirm<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Prod_Cost__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Agency_Fee_Step__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Delivery_Cost_Step__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Installation_Costs_Step__c.label}"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignsWithHQPMRequestedActions_Costs}" var="c">
                        <tr>
                          <td><a href="/{!c.Id}"><apex:outputField value="{!c.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(c.Scope__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!c.Production_Costs_Formula__c}" /></td>
                          <td><apex:outputField value="{!c.Agency_Fees_Formula__c}" /></td>
                          <td><apex:outputField value="{!c.Delivery_Costs_Formula__c}" /></td>
                          <td><apex:outputField value="{!c.Installation_Costs_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>
            
            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isHQPM), CampaignsWithHQPMRequestedActions_Visuals.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">HQPM: Campaign Item Visuals to Approve<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th>Visuals Status</th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignsWithHQPMRequestedActions_Visuals}" var="c">
                        <tr>
                          <td><a href="/{!c.Id}"><apex:outputField value="{!c.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(c.Scope__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!c.Visuals_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>
            
            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isHQPM), CampaignsWithMPMRequestedActions.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseFour">HQPM: MPM workload<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>       
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Show_Window_Status_Formula__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.In_Store_Status_Formula__c.label}"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignsWithMPMRequestedActions}" var="campaign">
                        <tr>
                          <td><a href="/{!campaign.Id}"><apex:outputField value="{!campaign.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(campaign.Scope__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!campaign.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!campaign.Show_Window_Status_Formula__c}" /></td>
                          <td><apex:outputField value="{!campaign.In_Store_Status_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>
            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isMPM, isAgent), CampaignMarketsWithMPMRequestedActions.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseFive">MPM: Pending for MPM proposal<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th>Market</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Show_Window_Status_Formula__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.In_Store_Status_Formula__c.label}"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignMarketsWithMPMRequestedActions}" var="cm">
                        <tr>
                          <td><a href="/{!cm.Campaign__c}"><apex:outputField value="{!cm.Campaign__r.Name}" /></a></td>
                          <td><apex:outputField value="{!cm.Name}" /></td>
                          <td><apex:outputText value="{!BLANKVALUE(cm.Scope_Limitation__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!cm.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!cm.Show_Window_Status_Formula__c}" /></td>
                          <td><apex:outputField value="{!cm.In_Store_Status_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>
            
			<apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isCreativeAgency), CampaignsWithCreaRequestedActions_Visuals.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseThree">Creative Agency: Campaign Item Visuals to Propose<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Visual_Step__c.label}"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignsWithCreaRequestedActions_Visuals}" var="c">
                        <tr>
                          <td><a href="/{!c.Id}"><apex:outputField value="{!c.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(c.Scope__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!c.Visuals_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>
                        
            <apex:outputPanel layout="block" styleClass="panel panel-default" rendered="{!AND(OR(isAdmin, isProductionAgency), CampaignsWithProdRequestedActions_Costs.size > 0)}">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a class="accordion-toggle" data-toggle="collapse" href="#collapseTwo">Production Agency: Costs/Fees to submit<i class="indicator glyphicon glyphicon-minus pull-right"></i></a>
                </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse in">
                <div class="panel-body">
                  <div class="col-xs-12">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th>Campaign</th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Scope__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Launch_Date__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Prod_Cost__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Agency_Fee_Step__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Delivery_Cost_Step__c.label}"/></th>
                          <th><apex:outputText value="{!$ObjectType.Campaign__c.fields.Installation_Costs_Step__c.label}"/></th>
                        </tr>
                      </thead>
                      <tbody>
                        <apex:repeat value="{!CampaignsWithProdRequestedActions_Costs}" var="c">
                        <tr>
                          <td><a href="/{!c.Id}"><apex:outputField value="{!c.Name}" /></a></td>
                          <td><apex:outputText value="{!BLANKVALUE(c.Scope__c, SCOPE_COMPLETE)}" /></td>
                          <td><apex:outputText value="{0,date,dd MMM yyyy}"><apex:param value="{!c.Launch_Date__c}" /></apex:outputText></td>
                          <td><apex:outputField value="{!c.Production_Costs_Formula__c}" /></td>
                          <td><apex:outputField value="{!c.Agency_Fees_Formula__c}" /></td>
                          <td><apex:outputField value="{!c.Delivery_Costs_Formula__c}" /></td>
                          <td><apex:outputField value="{!c.Installation_Costs_Formula__c}" /></td>
                        </tr>
                        </apex:repeat>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </apex:outputPanel>
            
           </div>
        </div>
      </div>
    </div> <!-- /container -->
    <script>
    
    function toggleChevron(e) {
	  $(e.target)
	    .prev('.panel-heading')
	    .find("i.indicator")
	    .toggleClass('glyphicon-plus glyphicon-minus');
	}

	$(function() {
	  $('#accordion').on('hidden.bs.collapse', toggleChevron);
	  $('#accordion').on('shown.bs.collapse', toggleChevron);
	});
    
    </script>
</apex:page>