<apex:page controller="ERTAILManageBoutiqueSpacesController" sidebar="false" tabStyle="Manage_Spaces__tab"
    showHeader="{!showHeader}" >
    <c:ERTAILStyle_Creativity />
    <c:ERTAILGraphsStyle />

    <html>


    <head> 
        <title>The Page Title</title>
        <meta http-equiv="X-UA-Compatible" content="IE=8" />
        <meta http-equiv="X-UA-Compatible" content="IE=10"/>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE8" />
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7" />

         <!-- ----------------------------- Req 18 code starts----------------------------------------- -->
       <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/es5-shim/4.5.9/es5-shim.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script  type="text/javascript"> 
            
        </script> 
        <style> 
            .floatingStyle 
            { 
                /*position:relative; 
                background-color:#829DC0; 
                top:0px; */
                
                
                width:100%;
                position:relative;
                background-color:#402806; 
                top: 0px;
                
            } 
        </style> 
        
        
        <style>
    .button.disabled {
        opacity: 0.65; 
        cursor: not-allowed;
    }
    
    
.fixHeaderTableContainer table {
    border-collapse: collapse;
    width: 100%;
}
.fixHeaderTableContainer thead {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}
.fixHeaderTableContainer thead tr {
    display: table-row;
    width: 100%;
}
.fixHeaderTableContainer tbody {
    display: block;
    height: 120px;
    overflow: auto;
    float: left;
    width: 100%;
}
.fixHeaderTableContainer tbody tr {
    display: table;
    width: 100%;
}
.fixHeaderTableContainer tbody tr {
    height: 18px;
}
.fixHeaderTableContainer tbody td {
    padding:1px 8px;
}
.fixHeaderTableContainer th, td {
    width: auto;
}

.fixHeaderTableContainer tr:after{
    content: ".";
    visibility: hidden;
}
</style>
        
 <!-- ----------------------------- Req 18 code End----------------------------------------- -->        
        
        
    </head>



    <style>
        .panel-without-bg .panel-body {
               padding: 0px 0 !important;
         }
    
        .flipHeader {
            margin: 2px 0px;
            cursor: s-resize;
            height: 4px;
        }

         .col-menu-list { 
            height: 500px; 
            overflow-x: hidden; 
         } 
        .col-menu-list a:hover, .col-menu-list a:focus, .panel-heading a:hover, .panel-heading a:focus{
        /*      color: #d16d18; */
        /*      text-decoration: none; */
        }

        .campaign:hover .campaign-detail a {
        /*  color: #fff; */
        }

        .table{
            background-color: white;
        }
        .table td{
            border-right: 1px solid #ddd;
        }
        #collapseTwo .table thead th.column{
            min-width:70px;
            white-space:normal;
            word-wrap:break-word;
        }
        
        .table-responsive{
            max-width:1090px;
        }
        .table-responsive>.fixed-column {
            position: absolute;
            display: inline-block;
            z-index:2;
            background-color:white;
        }
        .mainTable tbody tr{
            height:39px!important;
        }
        .mainTable tbody tr td.btqOrderItem{
            height:22px!important;
        }
        th.boutiqueName, td.boutiqueName {
            max-width: 270px;
            overflow: hidden;
            padding-right: 5px;
            text-overflow: ellipsis;
            white-space:nowrap;
        }
        .actionIcon:hover{
            cursor:pointer;
        }
        .newBtqSpaceLink{
            display:none;
        }
        .btqSpaceCell{
            white-space:nowrap;
        }
</style>

    <div class="flipHeader">&nbsp;</div>
    <body>

    <apex:form id="LB">

        <apex:actionFunction action="{!deleteBoutiqueSpace}" name="deleteShowWindowBoutiqueSpace" status="deleteShowWindow" rerender="LB">
            <apex:param name="btqSpaceId" assignTo="{!btqSpaceId}" value="" />
        </apex:actionFunction>
        <script>
            function confirmDeleteBoutiqueSpace(sw, nbCampaigns, btqSpaceId){
                message = '';
                if (nbCampaigns == 0){
                    message = 'The boutique space is about to be deleted, it can be recovered from the recycle bin over the next 15 days.  Afterwards it will be permanently deleted.';
                }else{
                    message = 'The boutique space is referenced in ' + nbCampaigns + ' campaigns and cannot be deleted.  Instead it will be hidden from future campaigns.';
                }
                if (confirm(message)){
                    if (sw)
                        deleteShowWindowBoutiqueSpace(btqSpaceId);
                    else
                        deleteInStoreBoutiqueSpace(btqSpaceId);
                }
            }
        </script>
        <apex:actionFunction action="{!deleteBoutiqueSpace}" name="deleteInStoreBoutiqueSpace" status="deleteInStore" rerender="LB">
            <apex:param name="btqSpaceId" assignTo="{!btqSpaceId}" value="" />
        </apex:actionFunction>

        <apex:variable var="retURL" value="%2Fapex%2FERTAILManageBoutiqueSpaces%3FId%3D{!selectedMarketId}%26vCounter%3D{!pNumber}"/>

        <div class="container detail" style="width:100%;">
            <div class="row">
            <table style="width:100%;">
            <tr>
            <td style="vertical-align:top; width:220px;">

                <apex:outputPanel rendered="{!showMarkets}">
                    <div class="col-menu col-xs-3 col-xs-height">
                        <a class="filters" href=""><i class="fa fa-cog"></i>Filters</a>
                        <h4 class="col-menu-title">Markets selection</h4>
                        <ul class="col-menu-list">
                            <apex:repeat value="{!items}" var="item">
                                <li class="{!CASE(selectedMarketId,item.value, 'active', '')}">
                                    <a href="/apex/ERTAILManageBoutiqueSpaces?Id={!item.value}">
                                        {!item.label} </a></li>
                            </apex:repeat>
                        </ul>
                    </div>
                </apex:outputPanel>

                </td>
                <td style="vertical-align:top;">
                <div class="col-content col-xs-9 col-xs-height" style="width:auto; min-width:992px;">
                    <h3>Market Detail</h3>
                    <div class="filter row">
                        <div class="form-group col-xs-3">
                            <label class="control-label">Market Name:</label> <span
                                class="form-control-static"><apex:outputField value="{!market.Name}" /></span>
                        </div>
                        <div class="form-group col-xs-3">
                            <label class="control-label">Zone:</label> <span
                                class="form-control-static"><apex:outputField value="{!market.Zone__c}" /></span>
                        </div>
                    </div>
                    <h3>Boutiques Spaces: {!market.Name}</h3>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default panel-without-bg">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse"
                                        href="#collapseOne">Show Windows<i
                                        class="indicator glyphicon glyphicon-minus  pull-right"></i></a>
                                        
                                    <!--<span class="buttonBlock">
                                        <div id="mainButtons" class="buttonMainClass" style="display:none ; float: right;margin-right: 5%;">   
                                            <input type='button' class='leftMainArrow' value='<<' title="Scroll Left" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                            <input type='button' class='rightMainArrow' value='>>' title="Scroll Right" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                        </div>
                                    </span>-->
                                    
                                    <apex:actionStatus id="deleteShowWindow">
                                        <apex:facet name="start"><apex:image style="margin:0 0 -5px 5px;height:20px;width:20px;" value="/img/loading32.gif"/></apex:facet>
                                    </apex:actionStatus>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" style="background-color: #F9F9F9;">
                                <div class="panel-body">
                                    
                                    <div id="mainButtons" class="buttonMainClass" style="display:none ;margin-left: 40%;margin-top: 3px;margin-bottom: 3px;">   
                                        <input type='button' class='leftMainArrow' value='<<' title="Scroll Left" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                        <input type='button' class='rightMainArrow' value='>>' title="Scroll Right" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                    </div>
                                    <!--<div id="mainButtons" class="buttonMainClass" style="display:none ; float: right;margin-right: 3%;margin-top: 3px;margin-bottom: 3px;;">   
                                        <input type='button' class='leftMainArrow' value='<<' title="Scroll Left" style="color: white;background-color: darkgrey;font-size: 18px;width: 65px;"/>
                                        <input type='button' class='rightMainArrow' value='>>' title="Scroll Right" style="color: white;background-color: darkgrey;font-size: 18px;width: 65px;"/>
                                    </div>-->
                                    
                                    <div id="collapseOne_Div" class="floatingContainer col-xs-12" onscroll="changeFloatingHeaderPosition(this, 'idHeader1' );" style="background-color: #F9F9F9;overflow-y: scroll !important;width:auto !important;height:100px !important;" layout="block">
                                        <apex:variable value="{!0}" var="cpt" />
                                        <apex:outputPanel id="results">
                                            <div id="collapseOne_Responsive" class="table-responsive " style="padding-top:0px;">
                                            <table id="mainTable" class="mainTable table FixedTables table-striped" style="width:auto;">
                                                <thead class="floatingHeader" id="idHeader1" >
                                                    <tr>
                                                        <th class="boutiqueName">Boutique Name</th>
                                                        <apex:repeat value="{!showWindowSuffixes}"
                                                            var="column">
                                                            <th style="text-align:center;">SW {!column}</th>
                                                        </apex:repeat>
                                                        <th style="text-align:center;">SW
                                                            {!showWindowMaxLength+1}</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <apex:repeat value="{!boutiqueId_pagination}"
                                                        var="btqId" id="theRepeat">
                                                        <tr>
                                                            <td style="white-space:nowrap;" border="1"><a href="/{!btqId}" style="color:black">{!boutiques[btqId].Name}</a>
                                                            </td>
                                                            <apex:repeat value="{!showWindowsPerBoutique[btqId]}"
                                                                var="btqSpaceId">
                                                                <td style="text-align:center;">
                                                                <apex:outputPanel rendered="{!NOT(isProductionAgency)}">
                                                                <a href="/{!btqSpaceId}/e?retURL={!retURL}&saveURL={!retURL}" id="{!btqSpaceId}" class="hoverLink" 
                                                                    style="color:{!IF(showWindowMap[btqSpaceId].Decoration_Allowed__c == 'Yes', '#808080', '#F00')};"
                                                                    title="{!showWindowMap[btqSpaceId].Space__r.Name}"
                                                                    >{!showWindowMap[btqSpaceId].Space__r.Decoration_Alias__c}&nbsp;</a>
                                                                    <img class="actionIcon" src="/img/func_icons/remove12_on.gif" onClick="confirmDeleteBoutiqueSpace(true, {!showWindowMap[btqSpaceId].Boutique_Order_Items__r.size}, '{!btqSpaceId}');"/>
                                                               </apex:outputPanel>
                                                               <apex:outputPanel rendered="{!(isProductionAgency)}">
                                                               <a href="/{!btqSpaceId}" id="{!btqSpaceId}" class="hoverLink" 
                                                                    style="color:{!IF(showWindowMap[btqSpaceId].Decoration_Allowed__c == 'Yes', '#808080', '#F00')};"
                                                                    title="{!showWindowMap[btqSpaceId].Space__r.Name}"
                                                                    >{!showWindowMap[btqSpaceId].Space__r.Decoration_Alias__c}&nbsp;</a>
                                                               </apex:outputPanel>
                                                                </td>
                                                            </apex:repeat>
                                                            
                                                            <td style="text-align:center;" id="empty"><a href="/{!boutiqueSpaceKeyPrefix}/e?retURL={!retURL}&saveURL={!retURL}&RecordType={!showWindowRecordType}&CF00Nb0000009oWen={!URLENCODE(boutiques[btqId].Name)}&CF00Nb0000009oWen_lkid={!btqId}&Name=No%20Need%20To%20Define"><apex:image value="/img/feeds/follow12.png"/></a></td>
                                                            <apex:repeat value="{!test[btqId]}"
                                                                first="1">
                                                                <td style="text-align:center;" id="empty"></td>
                                                            </apex:repeat>
                                                        </tr>
                                                    </apex:repeat>
                                                </tbody>
                                            </table>
                                        </div>
                                        </apex:outputPanel>
                                    </div>
                                </div>
                                <!-- End row -->
                                <br/>
                                <apex:outputPanel styleClass="ButtonPanel" id="results4" style="margin-left:360px">
                            
                                    <input type='button' class="FirstButton" onclick="First()" value='First' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding: 2px 10px;width: 65px;font-weight: normal"/>
                                    <input type='button' class="PrevButton" onclick="PreviousClick()" value='Previous' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding-left: 8px;padding-top: 3px;padding-bottom: 3px;padding-right: 7px;font-weight: normal"/>
                                    <input type='button' class="NextButton" onclick="NextClick()" value='Next' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding: 3px 15px;width: 65px;font-weight: normal"/>
                                    <input type='button' class="LastButton" onclick="LastClick()" value='Last' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding: 3px 15px;width: 65px;font-weight: normal"/>
                                </apex:outputPanel>
                            </div>
                            </div>
                            
                            </div>
                            
                            <div class="panel-group" id="accordion" style="margin-top: 10px;">
                        <div class="floatingContainer panel panel-default panel-without-bg"   onscroll="changeFloatingHeaderPosition(this, 'idHeader' );" >
                            <div  class="panel-heading" >
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse"
                                        href="#collapseTwo">In Store<i
                                        class="indicator glyphicon glyphicon-minus  pull-right"></i></a>
                                    <!--<span class="buttonBlock">
                                        <div id="myButtons" class="buttonClass" style="display:none; float: right;margin-right: 5%;">   
                                            <input type='button' class='leftInstoreArrow' onmousedown="scroll_Left()" value='<<' title="Scroll Left" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                            <input type='button' class='rightInstoreArrow' onmousedown="scroll_Right()" value='>>' title="Scroll Right" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                            
                                        </div> 
                                    </span>-->
                                    <apex:actionStatus id="deleteInStore">
                                        <apex:facet name="start"><apex:image style="margin:0 0 -5px 5px;height:20px;width:20px;" value="/img/loading32.gif"/></apex:facet>
                                    </apex:actionStatus>
                                </h4>
                            </div>
                            
                            
                            <div id="collapseTwo"  class="panel-collapse collapse in" style="background-color: #F9F9F9;" >
                                <div class="panel-body">
                                    <div id="myButtons" class="buttonClass" style="display:none;margin-left: 40%;margin-top: 3px;margin-bottom: 3px;">   
                                        <input type='button' class='leftInstoreArrow' onmousedown="scroll_Left()" value='<<' title="Scroll Left" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                        <input type='button' class='rightInstoreArrow' onmousedown="scroll_Right()" value='>>' title="Scroll Right" style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 17px;margin-right: 5px;padding: 3px 15px;width: 65px;"/>
                                        
                                    </div>
                                    <!--<div id="myButtons" class="buttonClass" style="display:none; float: right;margin-right: 3%;margin-top: 3px;margin-bottom: 3px;">   
                                        <input type='button' class='leftInstoreArrow' onmousedown="scroll_Left()" value='<<' title="Scroll Left" style="color: white;background-color: darkgrey;font-size: 18px;width: 65px;"/>
                                        <input type='button' class='rightInstoreArrow' onmousedown="scroll_Right()" value='>>' title="Scroll Right" style="color: white;background-color: darkgrey;font-size: 18px;width: 65px;"/>
                                    </div>-->
                                    <div id="collapseTwo_Div" class="floatingContainer col-xs-12" onscroll="changeFloatingHeaderPosition(this, 'idHeader' );" style="background-color: #F9F9F9;overflow-y: scroll !important;width:auto !important;height:130px" layout="block">
                                        <apex:variable value="{!0}" var="cpt" />
                                        <apex:outputPanel id="results2">
                                        <div id="collapseTwo_Responsive" class="table-responsive " style="padding-top:0px;">                                      
                                            <table id="inStoreTable" class="table FixedTables table-striped" style="width:auto;position:auto;">
                                                <thead class="floatingHeader" id="idHeader" >
                                                <tr>
                                                    <th class="boutiqueName" style="width:auto;">Boutique Name</th>
                                                    <th style="text-align:center;width:auto"></th>
                                                    <apex:repeat value="{!inStoreSpacesList}"
                                                        var="spaceId">
                                                        <th class="column" style="text-align:center;width: 100px;" title="{!inStoreSpacesMap[spaceId].Name}">{!inStoreSpacesMap[spaceId].Name}</th>
                                                    </apex:repeat>
                                                </tr>
                                                </thead>
                                                <tbody >
                                                <apex:repeat value="{!RTCOMBoutique_Wrp_List}" var="reco_Wrp" id="theRepeat2">
                                                    <tr>
                                                        <td id="{!reco_Wrp.RTCOMBoutique.Id}" border="1" class="boutiqueName hoverLink"><a href="/{!reco_Wrp.RTCOMBoutique.Id}" style="color:black">{!boutiques[reco_Wrp.RTCOMBoutique.Id].Name}</a>
                                                        </td>
                                                        <td id="empty"><a href="/{!boutiqueSpaceKeyPrefix}/e?retURL={!retURL}&saveURL={!retURL}&RecordType={!inStoreRecordType}&CF00Nb0000009oWen={!URLENCODE(boutiques[reco_Wrp.RTCOMBoutique.Id].Name)}&CF00Nb0000009oWen_lkid={!reco_Wrp.RTCOMBoutique.Id}&Name=No%20Need%20to%20Define"><apex:image value="/img/feeds/follow12.png"/></a></td>
                                                        <apex:repeat value="{!inStoreSpacesList}"
                                                        var="spaceId">
                                                            <td class="btqSpaceCell" style="text-align:center;" title="{!inStoreSpacesMap[spaceId].Name}">
                                                                <div>
                                                                    <apex:repeat value="{!inStoreSpacePerBoutique_Pagination[reco_Wrp.RTCOMBoutique.Id][spaceId].btqSpaces}" var="btqSpace">
                                                                       <apex:outputPanel rendered="{!NOT(isProductionAgency)}">
                                                                        <a id="{!btqSpace.Id}" class="hoverLink" href="/{!btqSpace.Id}/e?retURL={!retURL}&saveURL={!retURL}"
                                                                        >{!btqSpace.Space_Quantity__c}&nbsp;</a>
                                                                        <img class="actionIcon" src="/img/func_icons/remove12_on.gif" onClick="confirmDeleteBoutiqueSpace(false, {!btqSpace.Boutique_Order_Items__r.size}, '{!btqSpace.Id}');" title="delete Boutique Space"/>
                                                                       </apex:outputPanel>
                                                                      <apex:outputPanel rendered="{!(isProductionAgency)}">
                                                                       <a id="{!btqSpace.Id}" class="hoverLink" href="/{!btqSpace.Id}"
                                                                       >{!btqSpace.Space_Quantity__c}&nbsp;</a>
                                                                      </apex:outputPanel>
                                                                    </apex:repeat>
                                                                    <apex:outputLink title="Add a Boutique Space"
                                                                        styleClass="newBtqSpaceLink"
                                                                        rendered="{!inStoreSpacePerBoutique_Pagination[reco_Wrp.RTCOMBoutique.Id][spaceId].btqSpaces.size == 0}"
                                                                        value="/{!boutiqueSpaceKeyPrefix}/e?retURL={!retURL}&saveURL={!retURL}&RecordType={!inStoreRecordType}&CF00Nb0000009oWen={!URLENCODE(boutiques[reco_Wrp.RTCOMBoutique.Id].Name)}&CF00Nb0000009oWen_lkid={!reco_Wrp.RTCOMBoutique.Id}&Name={!inStoreSpacesMap[spaceId].Decoration_Alias__c}&CF00Nb0000009oWeu={!inStoreSpacesMap[spaceId].Name}&CF00Nb0000009oWeu_lkid={!spaceId}"><apex:image value="/img/feeds/follow12.png"/></apex:outputLink>
                                                                </div>
                                                            </td>
                                                        </apex:repeat>
                                                    </tr>
                                                </apex:repeat>
                                                </tbody>
                                            </table>
                                            
                                        </div>
                                        <script>
                                        $(function() { 
                                            //$( document ).ready(function() {
                                                    if($.browser.mozilla) 
                                                        //table row does not float in firefox, div floats 
                                                        $(".floatingHeader" + " tr th div") 
                                                                .addClass("floatingStyle"); 
                                                    else 
                                                        //table row can float in IE and Chrome 
                                                        $(".floatingHeader"+ " tr th") 
                                                                .addClass("floatingStyle"); 
                                                }); 
                                                function changeFloatingHeaderPosition(container, headerId) { 
                                                        if($.browser.webkit) //chrome rendering bug fix 
                                                            $("#"+headerId + " tr th") 
                                                                .css("visibility", "hidden"); 
                                                        if($.browser.mozilla) 
                                                            $("#"+headerId + " tr th div") 
                                                                .css("top", container.scrollTop); 
                                                        else 
                                                            $("#"+headerId + " tr th") 
                                                                .css("top", container.scrollTop); 
                                                        if($.browser.webkit) //chrome rendering bug fix 
                                                            $("#"+headerId + " tr th") 
                                                                .css("visibility", "visible"); 
                                                } 
                                         
                                          // Remove this method if you are using Jqeury earlier than 1.9
                                         (function() {
                                              var matched, browser;
                                        
                                              // Use of jQuery.browser is frowned upon.
                                              // More details: http://api.jquery.com/jQuery.browser
                                              // jQuery.uaMatch maintained for back-compat
                                              jQuery.uaMatch = function( ua ) {
                                               ua = ua.toLowerCase();
                                            
                                               var match = /(chrome)[ \/]([\w.]+)/.exec( ua ) ||
                                                   /(webkit)[ \/]([\w.]+)/.exec( ua ) ||
                                                   /(opera)(?:.*version|)[ \/]([\w.]+)/.exec( ua ) ||
                                                   /(msie) ([\w.]+)/.exec( ua ) ||
                                                   ua.indexOf("compatible") < 0 && /(mozilla)(?:.*? rv:([\w.]+)|)/.exec( ua ) ||
                                                   [];
                                            
                                               return {
                                                   browser: match[ 1 ] || "",
                                                   version: match[ 2 ] || "0"
                                               };
                                                  };
                                            
                                                  matched = jQuery.uaMatch( navigator.userAgent );
                                                  browser = {};
                                            
                                                  if ( matched.browser ) {
                                               browser[ matched.browser ] = true;
                                               browser.version = matched.version;
                                                  }
                                            
                                                  // Chrome is Webkit, but Webkit is also Safari.
                                                  if ( browser.chrome ) {
                                               browser.webkit = true;
                                                  } else if ( browser.webkit ) {
                                               browser.safari = true;
                                                  }
                                            
                                                  jQuery.browser = browser;
                                            })();
                                            
                                            $(function() {
                                                clone_Table('inStoreTable',3);
                                                clone_Table('mainTable',2);
                                                
                                                set_InstoreHeight();
                                                set_MainHeight();
                                                var btqSpaceCell = $(".btqSpaceCell");
            
                                                if($('#inStoreTable').width() == $('#collapseTwo_Responsive').width())
                                                {
                                                    $('#inStoreTable').width($('#inStoreTable').width() - 1); 
                                                    $('#collapseTwo_Responsive').width($('#collapseTwo_Responsive').width() + 1) ;
                                                }
                                                
                                                if($('#mainTable').width() == $('#collapseOne_Responsive').width())
                                                {
                                                    $('#mainTable').width($('#mainTable').width() - 1); 
                                                    $('#collapseOne_Responsive').width($('#collapseOne_Responsive').width() + 1) ;
                                                }
                                                
                                                if( ($('#mainTable').width() > $('#collapseOne_Responsive').width()) && $('#mainTable tr').length > 11 )
                                                    $('.buttonMainClass').show();
                                                else
                                                    $('.buttonMainClass').hide();
                                                if( ($('#inStoreTable').width() > $('#collapseTwo_Responsive').width()) && $('#inStoreTable tr').length > 11 )
                                                    $('.buttonClass').show();
                                                else
                                                    $('.buttonClass').hide();
                                                
                                                var btqSpaceCell = $(".btqSpaceCell");
                                                btqSpaceCell.on("blur", function(){
                                                   $(this).find(".newBtqSpaceLink").hide();
                                                });
                                                
                                                btqSpaceCell.on("focus", function(){
                                                   $(this).find(".newBtqSpaceLink").show();
                                                });
                                                
                                                btqSpaceCell.on("mouseout", function(){
                                                   $(this).find(".newBtqSpaceLink").hide();
                                                });
                                                
                                                if( ({!disablePrevious}) && ({!disableNext}) ){
                                                    $('.ButtonPanel').hide() ;
                                                }
                                                else
                                                    $('.ButtonPanel').show() ;
                                                
                                                if({!disableNext})
                                                {
                                                    //NextButton
                                                    $(".NextButton").addClass("button disabled");
                                                    $(".LastButton").addClass("button disabled");
                                                    $(".NextButton").prop('disabled', true);
                                                    $(".LastButton").prop('disabled', true);
                                                    
                                                }
                                                else{
                                                    $(".LastButton").removeClass("button disabled");
                                                    $(".LastButton").removeClass("button disabled");
                                                    $(".NextButton").prop('disabled', false);
                                                    $(".LastButton").prop('disabled', false);
                                                }
                                                
                                                if({!disablePrevious})
                                                {
                                                    $(".FirstButton").addClass("button disabled");
                                                    $(".PrevButton").addClass("button disabled");
                                                    $(".FirstButton").prop('disabled', true);
                                                    $(".PrevButton").prop('disabled', true);
                                                }
                                                else{
                                                    $(".FirstButton").removeClass("button disabled");
                                                    $(".PrevButton").removeClass("button disabled");
                                                    $(".FirstButton").prop('disabled', false);
                                                    $(".PrevButton").prop('disabled', false);
                                                }
                                                
                                                btqSpaceCell.on("mouseover", function(){
                                                   $(this).find(".newBtqSpaceLink").show();
                                                });
                                                
                                            });
                                        </script>
                                        </apex:outputPanel>
                                    </div>
                                    
                                </div>
                                <!-- End row -->
                                <br/>
                                <apex:outputPanel styleClass="ButtonPanel" id="results3" style="margin-left:355px">
                                    
                                    <input type='button' class="FirstButton" onclick="First()" value='First' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding: 2px 10px;width: 65px;font-weight: normal"/>
                                    <input type='button' class="PrevButton" onclick="PreviousClick()" value='Previous' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding-left: 8px;padding-top: 3px;padding-bottom: 3px;padding-right: 7px;font-weight: normal"/>
                                    <input type='button' class="NextButton" onclick="NextClick()" value='Next' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding: 3px 15px;width: 65px;font-weight: normal"/>
                                    <input type='button' class="LastButton" onclick="LastClick()" value='Last' style="background-color: #402619;border-radius: 15px;border-style: none;color: #ffffff;font-size: 14px;margin-right: 5px;padding: 3px 15px;width: 65px;font-weight: normal"/>
                                </apex:outputPanel>
                                <br/>
                            </div>                          
                        </div>
                    </div>
                </div>
                </td>
                </tr>
                </table>
    
            </div>
        </div>
        <apex:actionFunction name="First" action="{!Beginning}" oncomplete="scrollTotop();" reRender="pagination_std,results2,results3,results,results4" status="waitingIcon"/>
        <apex:actionFunction name="PreviousClick" action="{!Previous}" oncomplete="scrollTotop();" reRender="pagination_std,results2,results3,results,results4" status="waitingIcon"/>
        <apex:actionFunction name="NextClick" action="{!Next}" oncomplete="scrollTotop();" reRender="pagination_std,results2,results3,results,results4" status="waitingIcon"/>
        <apex:actionFunction name="LastClick" action="{!End}" oncomplete="scrollTotop();" reRender="pagination_std,results2,results3,results,results4" status="waitingIcon"/>
        
        <apex:actionStatus id="waitingIcon">
            <apex:facet name="start">
             <div class="waitingSearchDiv" id="el_loading" style="background-color: #DCD6D6; height: 100%;opacity:0.65;width:100%;"> 
                <div class="waitingHolder" style="top: 50%;margin-left:40%; width: 91px;position: fixed">
                    <img class="waitingImage" src="/img/loading32.gif" title="Please Wait..." />
            
               </div>
            </div>
            </apex:facet> 
        </apex:actionStatus>
    
        <script>
        $(document).ready(function() {
            
            $(".pbTitle").click(function() {
                $(".pbBody").toggle();
            });
            
            var divCampItmBtns = $(".divCampItmBtns");
            $(".replace", divCampItmBtns).on("click",function(event){
                $(this).next("input").click();
            });
            
                        
            set_InstoreHeight();
            set_MainHeight() ; 
            
            //var timeout ;
            $('.leftMainArrow').mousedown(function(){
                timeout = setInterval(function(){
                    var pos = $('#collapseOne_Responsive').scrollLeft() -5;
                    $('#collapseOne_Responsive').scrollLeft(pos);
                }, 10);
            
                return false;
            });
            $('.rightMainArrow').mousedown(function(){
                timeout = setInterval(function(){
                    var pos = $('#collapseOne_Responsive').scrollLeft() + 5;
                    $('#collapseOne_Responsive').scrollLeft(pos);
                }, 10);
            
                return false;
            });
            
            $('.rightMainArrow').mouseup(function(){
                clearInterval(timeout);
                return false;
            });
            
            $('.leftMainArrow').mouseup(function(){
                clearInterval(timeout);
                return false;
            });
            
            $('.leftInstoreArrow').mouseup(function(){
                clearInterval(timeout);
                return false;
            });
            
            $('.rightInstoreArrow').mouseup(function(){
                clearInterval(timeout);
                return false;
            });
            
        });
        function scrollTotop()        
        {
            $( "#collapseOne_Div" ).scrollTop( 0 );
            $( "#collapseTwo_Div" ).scrollTop( 0 );
        } 
        
        function scroll_Left(){
            timeout = setInterval(function(){
                var pos = $('#collapseTwo_Responsive').scrollLeft() - 5;
                $('#collapseTwo_Responsive').scrollLeft(pos); },10) ;
        }
        function scroll_Right(){
            timeout = setInterval(function(){
                var pos = $('#collapseTwo_Responsive').scrollLeft() + 5;
                $('#collapseTwo_Responsive').scrollLeft(pos); },10) ;
        }
        
        
        function toggleChevron(e) {
          $(e.target)
            .prev('.panel-heading')
            .find("i.indicator")
            .toggleClass('glyphicon-plus glyphicon-minus');
        }

        $(function() {
            //clone_Table('mainTable',2);
            //clone_Table('inStoreTable',3);

          $('#accordion').on('hidden.bs.collapse', toggleChevron);
          $('#accordion').on('shown.bs.collapse', toggleChevron);
          
        
          $('.campaign').hover(function(){
            $(this).addClass('hover');
          },function(){
            $(this).removeClass('hover');
          });
            
            
            if($('#inStoreTable').width() == $('#collapseTwo_Responsive').width())
            {
                $('#inStoreTable').width($('#inStoreTable').width() - 1); 
                $('#collapseTwo_Responsive').width($('#collapseTwo_Responsive').width() + 1) ;
            }
            
            if($('#mainTable').width() == $('#collapseOne_Responsive').width())
            {
                $('#mainTable').width($('#mainTable').width() - 1); 
                $('#collapseOne_Responsive').width($('#collapseOne_Responsive').width() + 1) ;
            }
            
             
            /*if( ($('#mainTable').width() > $('#collapseOne_Responsive').width()) && $('#mainTable tr').length > 11 )
                $('.buttonMainClass').show();
            else
                $('.buttonMainClass').hide();
           
            if( ($('#inStoreTable').width() > $('#collapseTwo_Responsive').width()) && $('#inStoreTable tr').length > 11 )
                $('.buttonClass').show();
            else
                $('.buttonClass').hide();
            */
        });

        function clone_Table(tableId,rowToRemoved)
        {
            var $table = $("#"+tableId);
            var $fixedColumn = $table.clone();
                    
            //Remove everything except for first three columns
            //$fixedColumn.find('th:nth-of-type(n+3),td:nth-of-type(n+3)').remove();
            $fixedColumn.find('th:nth-of-type(n+'+rowToRemoved+'),td:nth-of-type(n+'+rowToRemoved+')').remove();
            $('.legendCelltmp', $fixedColumn).addClass("legendCell");
            $('.legendCelltmp', $fixedColumn).removeClass("legendCelltmp");
            //debugger;
            //Match the height of the rows to that of the original table's
            $fixedColumn.find('thead tr').each(function (i, elem) {
                $(this).height($table.find('thead tr:eq(' + i + ')').height());
            });
            $fixedColumn.find('thead tr th').each(function (i, elem) {
                $(this).width($table.find('thead tr:eq(' + i + ') th').width());
            });
            
            $fixedColumn.insertBefore($table).addClass('fixed-column').attr("id", "cloneTable"+tableId);
        }
        
        function set_InstoreHeight() {
            var tr_Height = 0;
            
            if($('#inStoreTable tr').length > 11)
            {
                for(i=0 ; i < 11 ; i++)
                {
                    tr_Height = tr_Height + $('#inStoreTable tr').eq(i).height();
                }
                $('#collapseTwo_Div').css('min-height',tr_Height+'px');
                
            }
            else{
                var divHeight = $('#inStoreTable').height() + 40; 
                $('#collapseTwo_Div').css('min-height', divHeight+'px');
            }
        }
        
        function set_MainHeight() {
            var tr_Height = 0;
            
            if($('#mainTable tr').length > 11)
            {
                for(i=0 ; i < 11 ; i++)
                {
                    tr_Height = tr_Height + $('#mainTable tr').eq(i).height();
                }
                $('#collapseOne_Div').css('min-height',tr_Height+'px');
            }
            else{
                var divHeight = $('#mainTable').height() + 35
                $('#collapseOne_Div').css('min-height', divHeight+'px');
            }
        }
        
        function hover_instore()
        {
            btqSpaceCell.on("blur", function(){
               $(this).find(".newBtqSpaceLink").hide();
            });
            
            btqSpaceCell.on("focus", function(){
               $(this).find(".newBtqSpaceLink").show();
            });
            
            btqSpaceCell.on("mouseout", function(){
               $(this).find(".newBtqSpaceLink").hide();
            });
            
            btqSpaceCell.on("mouseover", function(){
               $(this).find(".newBtqSpaceLink").show();
            });
        }
    </script>
    </apex:form>
    </body>
    </html>
</apex:page>