<apex:page standardController="Permanent_Fixture_And_Furniture__c" showChat="false">
        <table width="100%">
            <tr >
                <td width="21%"/>
                <td>
                    <apex:pageBlock mode="maindetail" rendered="{!if($Profile.Name !='ERTAIL Production Agency',True,False)}">
                        <apex:pageBlockSection columns="1">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel />
                                <c:ImageLoader parentObject="{!Permanent_Fixture_And_Furniture__c}" image="{!Permanent_Fixture_And_Furniture__c.Image_Id__c}"/>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                </td>
            </tr>   
        </table>
</apex:page>