<apex:page standardController="Campaign_Market__c" extensions="ERTAILExportOrdersExt"
    contentType="application/vnd.ms-excel#{!SUBSTITUTE(Campaign_Market__c.Name, ' ', '_')}_Orders.xls" cache="true">

    <apex:outputText value="{!xlsHeader}" />

    <Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
        xmlns:o="urn:schemas-microsoft-com:office:office"
        xmlns:x="urn:schemas-microsoft-com:office:excel"
        xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
        xmlns:html="http://www.w3.org/TR/REC-html40">

        <Styles>
            <Style ss:ID="t2" ss:Name="DataString">
                <Alignment ss:Horizontal="Left"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10"/>
                <Interior/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t3" ss:Name="DataDate">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10"/>
                <Interior/>
                <NumberFormat ss:Format="dd MMM yyyy"/>
                <Protection/>
            </Style>
            <Style ss:ID="t90" ss:Name="cost">
                <Alignment ss:Horizontal="Right"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10"/>
                <Interior/>
                <NumberFormat ss:Format="Euro Currency"/>
                <Protection/>
            </Style>
            <Style ss:ID="t9" ss:Name="EmptyData">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10"/>
                <Interior/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t40" ss:Name="BoutiqueTopHeader">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="12" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#8DB4E2" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t41" ss:Name="BoutiqueHeaders">
                <Alignment ss:WrapText="1"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#C5D9F1" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t50" ss:Name="BOITopHeader">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="12" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#D8E4BC" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t51" ss:Name="BOIHeaders">
                <Alignment ss:WrapText="1"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#EBF1DE" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t60" ss:Name="OrderTopHeader">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="12" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#FCD5B4" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t61" ss:Name="OrderHeaders">
                <Alignment ss:WrapText="1"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#FDE9D9" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t70" ss:Name="BoutiqueSpaceTopHeader">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="12" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#CCC0DA" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t71" ss:Name="BoutiqueSpaceHeaders">
                <Alignment ss:WrapText="1"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#E4DFEC" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t80" ss:Name="SpaceTopHeader">
                <Alignment ss:Horizontal="Center"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="12" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#E6B8B7" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
            <Style ss:ID="t81" ss:Name="SpaceHeaders">
                <Alignment ss:WrapText="1"/>
                <Borders>
                    <Border ss:Position="Bottom" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Left" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Right" ss:LineStyle="Continuous" ss:Weight="1"/>
                    <Border ss:Position="Top" ss:LineStyle="Continuous" ss:Weight="1"/>
                </Borders>
                <Font ss:Size="10" ss:Bold="1" ss:Color="#000000"/>
                <Interior ss:Color="#F2DCDB" ss:Pattern="Solid"/>
                <NumberFormat/>
                <Protection/>
            </Style>
        </Styles>

        <apex:outputText value="{!spaceWorksheetHeader}" escape="false"/>   

        <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
            <FreezePanes/>
            <FrozenNoSplit/>
            <SplitHorizontal>2</SplitHorizontal>
            <TopRowBottomPane>2</TopRowBottomPane>
            <SplitVertical>2</SplitVertical>
            <LeftColumnRightPane>2</LeftColumnRightPane>
            <ActivePane>0</ActivePane>
        </WorksheetOptions>
        
        {!spaceWorksheetAutofilter}
        
        
        <Table x:FullColumns="1" x:FullRows="1">
            <Column ss:Span="2" ss:Width="125"/>
            <Column ss:Span="42" ss:Width="75"/>
            
            <Row>
                <Cell ss:StyleID="t40" ss:MergeAcross="17"><Data ss:Type="String">Boutique</Data></Cell>
                <Cell ss:StyleID="t50" ss:MergeAcross="5"><Data ss:Type="String">Boutique Order Quantity</Data></Cell>
                <Cell ss:StyleID="t60" ss:MergeAcross="0"><Data ss:Type="String">Campaign Item Order</Data></Cell>
                <Cell ss:StyleID="t70" ss:MergeAcross="15"><Data ss:Type="String">Boutique Space</Data></Cell>
                <Cell ss:StyleID="t80" ss:MergeAcross="3"><Data ss:Type="String">Space</Data></Cell>
            </Row>
                                
            <Row>
                <!-- Boutique -->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Market</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Boutique Name</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Boutique ID</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Launch Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">End Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Languages</Data></Cell> <!-- Added as per ticket reference no. # RM0021257847 -->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Showbook</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Delivery Mode</Data></Cell> <!-- Added Delivery Mode 10-mar-2016 -->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Pick Up Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Boutique Delivery Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Warehouse Delivery Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Warehouse Name</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Scope Limitation</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Actual Cost</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Max Cost</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Max Agency Fee</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Delivery Fee</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Installation Fee</Data></Cell>
                <!-- Boutique Order Item -->
                <Cell ss:StyleID="t51"><Data ss:Type="String">Unit Cost</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">Quantity</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">Actual Cost Eur</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">OP Unit Max Cost Eur</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">OP Total Max Cost Eur</Data></Cell>
               <!-- <Cell ss:StyleID="t51"><Data ss:Type="String">Creativity with Quantity</Data></Cell>-->
                <Cell ss:StyleID="t51"><Data ss:Type="String">Comment</Data></Cell>
                <!-- Campaign Item -->
                <Cell ss:StyleID="t61"><Data ss:Type="String">Campaign Item Name</Data></Cell>
               <!-- <Cell ss:StyleID="t61"><Data ss:Type="String">Actual Cost EUR</Data></Cell>
                <Cell ss:StyleID="t61"><Data ss:Type="String">Max Cost EUR</Data></Cell>-->
                <!-- Boutique Space -->
                <Cell ss:StyleID="t71"><Data ss:Type="String">Decoration Alias</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Creativity_Order__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Comment__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Decoration_Allowed__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Hanging_System_Available__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.plug_available__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Closed_facade__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Depth__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Height__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">{!$ObjectType.Boutique_Space__c.fields.Width__c.label}</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">Window Depth</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">Window Height</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">Window Width</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">Quantity</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">Stickers</Data></Cell>
                <Cell ss:StyleID="t71"><Data ss:Type="String">Sticker's color</Data></Cell>
                 <!--Space -->
                <Cell ss:StyleID="t81"><Data ss:Type="String">Space Name</Data></Cell>
                <Cell ss:StyleID="t81"><Data ss:Type="String">Has Creativity</Data></Cell>
                <Cell ss:StyleID="t81"><Data ss:Type="String">Has Dimensions</Data></Cell>
                <Cell ss:StyleID="t81"><Data ss:Type="String">Has Quantity</Data></Cell>
              <!--  <Cell ss:StyleID="t81"><Data ss:Type="String">OP Max Cost Eur</Data></Cell>-->
            </Row>
        
        
        <apex:repeat value="{!spaceRowList}" var="rowSublist">
            <apex:repeat value="{!rowSublist}" var="row">
                <Row>
                <apex:repeat value="{!row.cells}" var="cell">
                    <Cell ss:StyleID="{!cell.cStyle}" ss:Index="{!cell.cIndex}"><Data ss:Type="{!cell.cType}">{!cell.cValue}</Data></Cell>              
                </apex:repeat>
                </Row>
            </apex:repeat>
        </apex:repeat>
        
        </Table>
        
        <apex:outputText value="{!ffWorksheetHeader}" escape="false"/>  

        <WorksheetOptions xmlns="urn:schemas-microsoft-com:office:excel">
            <FreezePanes/>
            <FrozenNoSplit/>
            <SplitHorizontal>2</SplitHorizontal>
            <TopRowBottomPane>2</TopRowBottomPane>
            <SplitVertical>2</SplitVertical>
            <LeftColumnRightPane>2</LeftColumnRightPane>
            <ActivePane>0</ActivePane>
        </WorksheetOptions>
        
        {!ffWorksheetAutofilter}
        
        <Table x:FullColumns="1" x:FullRows="1">
            <Column ss:Span="2" ss:Width="125"/>
            <Column ss:Span="9" ss:Width="75"/>
            <Row>
                <Cell ss:StyleID="t40" ss:MergeAcross="9"><Data ss:Type="String">Boutique</Data></Cell>
                <Cell ss:StyleID="t50" ss:MergeAcross="4"><Data ss:Type="String">Fixture and Furniture Order</Data></Cell>
            </Row>
            <Row>
                <!-- Boutique -->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Market</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Boutique Name</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">ID</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Languages</Data></Cell> <!-- Added as per ticket reference no. # RM0021257847 -->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Delivery Mode</Data></Cell> <!-- Added Delivery Mode 10-mar-2016 -->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Pick Up Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Boutique Delivery Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Warehouse Delivery Date</Data></Cell>
                <Cell ss:StyleID="t41"><Data ss:Type="String">Warehouse Name</Data></Cell>
             <!--   <Cell ss:StyleID="t41"><Data ss:Type="String">Typology</Data></Cell>-->
                <Cell ss:StyleID="t41"><Data ss:Type="String">Fixture and Furnitures Costs</Data></Cell>
                <!-- Boutique Order Item -->
             <!--   <Cell ss:StyleID="t51"><Data ss:Type="String">Reference</Data></Cell>-->
                <Cell ss:StyleID="t51"><Data ss:Type="String">Fixture and Furniture Name</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">Unit Cost</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">Quantity</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">Total Cost Eur</Data></Cell>
                <Cell ss:StyleID="t51"><Data ss:Type="String">Comment</Data></Cell>
            </Row>
        
        <apex:repeat value="{!ffRowList}" var="rowSublist">
            <apex:repeat value="{!rowSublist}" var="row">
                <Row>
                <apex:repeat value="{!row.cells}" var="cell">
                    <Cell ss:StyleID="{!cell.cStyle}" ss:Index="{!cell.cIndex}"><Data ss:Type="{!cell.cType}">{!cell.cValue}</Data></Cell>              
                </apex:repeat>
                </Row>
            </apex:repeat>
        </apex:repeat>
    
        </Table>
        
    <!-- </Workbook>{!workbookEnd} commented on 29June to fix corrupted file issue-->
    
    {!workbookEnd}
    </Workbook>
    
</apex:page>