<apex:page standardController="Campaign__c" showChat="false">
        <table width="100%">
            <tr >
                <td width="21%"/>
                <td>
                    <apex:pageBlock mode="maindetail" >
                        <apex:pageBlockSection columns="1">
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel />
                                <c:ImageLoader parentObject="{!Campaign__c}" image="{!Campaign__c.Image_ID__c}"/>
                            </apex:pageBlockSectionItem>
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                </td>
            </tr>   
        </table>
</apex:page>