<apex:page standardcontroller="Handover_Report__c" extensions="HandoverButtonsController">
    <apex:form > 
        
        <script>
            if("{!$Request.redir}" == "true") {
                window.top.location.href = "{!$Request.URL}";          
            }
            
            
            function onclickSendForValidation() {
            var isMass='{!handover.Linked_POS__c}';
            if(isMass!=""){
            alert('This feature is not available in Mass Corner');
            return false;
            }
            else if (!{!allowSendForValidation}){ 
                    alert('Sorry, the report must have at least one Handover Photo of the Corner and also the Signed Handover Report in the File area section.');
                    return false;
                } 
            else {
                    alert('Thank you, the handover report will be sent for validation.');
                    return true;
                }
            }
            function onclickSendNotification()
            {
                 if({!allowSendNotification})
              {
                   alert('{!strHandoverMsg}');
                    return false;
              }
              else
              {
              alert('Thank you, the handover report notification will be sent to Manager.');
                    return true;
              }

            }
            
            function onclickSendDecision() {
             var isMass='{!handover.Linked_POS__c}';
            if(isMass!=""){
            alert('This feature is not available in Mass Corner');
            return false;
            }
            else if (!{!allowSendDecision}){ 
                    alert('The field NES Decision must contain an Approved or Disapproved decision.\nIn case of Disapproval, a reason must be filled.\nIn case of Approval, the report must have at least one Handover Photo of the Corner and the Signed Handover Report atached in the File area section.');
                    return false;
                } else if ('{!handover.NES_Decision__c}' == 'Disapproved' && '{!handover.NES_Dis_Approval_date__c}' != '') {
                    alert ('The disapproval decision has already been sent.');
                    return false;
                } else {
                    alert('Thank you, your decision will be sent.');
                    return true;
                }
            }
        </script>
        <table width="100%">
            <tr>
                <td align="center">
                    
                    <apex:commandButton value="Edit" onclick="window.top.location.href = '/{!handover.Id}/e?retURL=%2F{!handover.Id}';" />
                    
                    <apex:commandButton value="Generate PDF" onclick="window.open('/apex/CornerHandoverPDFGenerator?id='+'{!handover.Id}','_blank','height=600,location=no,resizable=yesscrollbars=1', 1)"  rendered="{!IF(handover.Linked_POS__c=null,true,false)}"/>
                    <apex:commandButton value="Generate PDF" onclick="window.open('/apex/MassCornerHandoverPDFGenerator?id='+'{!handover.Id}','_blank','height=600,location=no,resizable=yesscrollbars=1', 1)"  rendered="{!IF(handover.Linked_POS__c!=null,true,false)}"/>
                    <apex:commandButton value="Send Notification >" action="{!SendNotification}" onclick="if (!onclickSendNotification()) {return false;}"  rendered="{!allowNotification}" />
                    <apex:commandButton value="Send Report for Validation >" action="{!SendForValidation}" onclick="if (!onclickSendForValidation()) {return false;}"  rendered="{!showSendForValidation || showSendForValidation_Agent && !(handover.Project__r.isMassCorner__c)}" />
                    <apex:commandButton value="Send Decision >" action="{!SendDecision}" onclick="if (!onclickSendDecision()) {return false;}"  rendered="{!showSendDecision || showSendDecision_Agent && !(handover.Project__r.isMassCorner__c)}" />
                    
                    <apex:commandButton value="< Back to Project" action="{!BackToProject}" />                  
                </td>
            </tr>
        </table>
    
    </apex:form>
</apex:page>