<apex:page standardController="Quotation__c" extensions="QuotationPageController">
    
    <apex:outputPanel rendered="{! hasAccessToQuotation}">
	    <apex:detail subject="{!Quotation__c}" relatedList="true" inlineEdit="true" />
    </apex:outputPanel>
    
    <apex:outputPanel rendered="{! !hasAccessToQuotation}">
    	<span style="font-weight: bold; font-size: 12pt;">Insufficient Privileges</span><br/>
    	You do not have the level of access necessary to perform the operation you requested. Please contact the owner of the record or your administrator if access is necessary.
   	</apex:outputPanel>
   	
</apex:page>