<apex:page standardController="Invoice__c" extensions="RECOInvoiceButtonsExt" showHeader="true">

<style>
    .a {
    display:none;
}
</style>

<script>
            
                function addClass(element, myClass) {
                    element.className += ' ' + myClass; 
                }
         //       document.getElementsByName("fname")[0].tagName
                var foo = document.getElementsByName("newNote");
                addClass(foo, 'a');
                
 </script>               
 <apex:outputPanel rendered="{!hasAccessToQuotation}">
        <apex:form >
            <script>
            
               

            
                function onclickApprove() {
                    if ('{!ROUND(Invoice__c.Total_Selected_Items__c,2)}' != '{!ROUND(Invoice__c.Total_Amount_excl_VAT__c,2)}') {
                        alert('Sorry, the offer could not be validated because the total amount does not match the total of the selected items.');
                        return false;
                    } else if ({!noCostItemsSelected}) {
                        alert('Sorry, the offer could not be validated because it has no selected cost items.');
                        return false;
                    } else {
                        if({!offer.RECO_Project__r.Workflow_Type__c == 'Standard Process'})
                            alert('Thanks, a notification will be sent to the Manager Architect or the National Boutique Manager and the PO Operator.');
                        else
                            alert('Thanks, a notification will be sent to the National Boutique Manager and the PO Operator.');

                        return true;
                    }
                }
                
                function onclickDisapprove(){
                    if (! {!refusalReasonEntered}){ 
                        alert('A Reason needs to be entered in order to disapprove an offer.'); 
                        return false;
                    } else {
                        if({!offer.RECO_Project__r.Workflow_Type__c == 'Standard Process'})
                            alert('Thanks, your decision will be sent to the Manager Architect or the National Boutique Manager for corrections.');
                        else
                            alert('Thanks, your decision will be sent to the National Boutique Manager for corrections.');
                        
                        return true; 
                    }
                }
                
               
                
                
                 function onclickSendForApprovalInvoice() {
                    if ({!checkAttchmentBoolean}) {
                        alert('Sorry, the Invoice could not be sent for approval because it has no files attached.');
                        return false;
                    }
                    else {
                        alert('Thanks, your Invoice will be sent for validation.');
                        return true;
                    }
                    
                    }
                
            </script>
            
            <div class="bPageBlock brandSecondaryBrd bDetailBlock secondaryPalette">
                <div class="pbHeader">
                    <table   style="width: 100%; border: 0; cellpadding: 0; cellspacing: 0; margin-bottom: 0px;" >
                        <tbody>
                            <tr>
                                <td class="pbTitle">
                                    <img src="/s.gif" alt="" class="minWidth" title="" height="1" width="1" />
                                    <!-- <h2 class="mainTitle">Offer Detail</h2>-->
                                </td>
                                <td class="pbButton" id="topButtonRow">
                                    <apex:outputPanel rendered="{!showButtons}">
                                        <apex:commandButton value="Edit Invoice" action="{!edit}" />
                                        <apex:commandButton value="Delete" action="{!delete}" onclick="return confirm('Are you sure?');" />
                                        <apex:commandButton value="< Back to Project" action="{!backToProject}" />
                                        <apex:commandbutton value="Send for Approval >" action="{!sendForApproval}" onclick="if (!onclickSendForApprovalInvoice()) {return false;}"  rendered="{!showSendForApproval}" />
                                        <apex:commandButton value="Approve >" action="{!Approve}"  rendered="{!showSendDecision}" />
                                        <apex:commandButton value="Disapprove >" action="{!Disapprove}" onclick="if (!onclickDisapprove()) {return false;}" rendered="{!showSendDecision}" />
                                    </apex:outputPanel>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </apex:form>
            
        <apex:detail subject="{!Invoice__c}" relatedList="true"/>

    </apex:outputPanel>
    
    <apex:outputPanel rendered="{!NOT(hasAccessToQuotation)}">
        <span style="font-weight: bold; font-size: 12pt;">Insufficient Privileges</span><br/>
        You do not have the level of access necessary to perform the operation you requested. Please contact the owner of the record or your administrator if access is necessary.
    </apex:outputPanel>
</apex:page>