<apex:page standardStylesheets="false" showHeader="false"   standardController="RECO_Project__c" extensions="BoutiqueBudgetOverviewExt" renderAs="pdf">

 
<head>
    <meta charset="UTF-8" />
    <title>Nespresso</title>
    <style>
@page {
size:landscape;
}
</style>
    <style type="text/css" media="screen">
        *{
            margin: 0;
            padding: 0;
        }
        
        .container{
            width: 90%;
            margin: 0 auto;
        }
    
        .logo-wrapper{
            width: 100%;
            padding-top: 15px;
            padding-bottom: 15px;
        }
        
        .logo{
            width: auto;
            height: 100%;
            max-height: 80px;
        }
        
        .budget-info{
            width: 100%;
            border-top: 2px solid #2A2A2A;
            border-bottom: 2px solid #333333;
            padding-top: 15px;
            padding-bottom: 15px;
            margin-bottom: 15px;
        }
        p{
            font-size: 16px;
            line-height: 22px;
            margin-bottom: 5px;
        }
        p.topic-title, span.label{
            font-weight: bold;
        }
        
        .estimate-wrapper, .cost-wrapper{
            float: left;
            border-top: 1px solid #CCCCCC;
        }
        
        .estimate-wrapper{
            width: 40%;
            padding-right: 15px;
        }
        
        .cost-wrapper{
            width: 57.2%;
            padding-left: 15px;
            border-left: 1px solid #CCCCCC;
        }
        
        
        h4.report-headline{
            margin: 15px 0;
            font-size: 24px;
            font-weight: bold;
            
        }
        
        
        .report-heading{
            text-transform: uppercase;
            font-weight: bold;
            font-size: 16px;
            text-align: center;
            vertical-align: middle;
            width: 100%;
            display: block;
            padding: 10px;
            border-bottom: 1px solid #CCCCCC;
        }
        
        .cost-wrapper .report-heading{
            //margin-left: -15px;
        }
        
        
        
        div.clearfix{
            clear: both;
            width: 100%;
        }
        div.clearfix::after, div.clearfix::before{
            content: '';
        }
        
        table.table{
            width: 100%;
            border-spacing: 0;
            border-collapse: collapse;
            font-size: 10px;
        }
        
        table.table th, table.table td{
            border: 1px solid #eee;
            padding: 5px;
        }
        table.table th{
            background: #999999;
        }
        
        td.light-green{
            background: #89d989;
        }
        
    .print:last-child {
     page-break-after: auto;
}
    </style>
    
</head>
<body>
    
    <div class="container" style="width:100%">
        <div class="logo-wrapper">
            <apex:image url="{!$Resource.NespressoLogo}" width="200"/>
<hr/>
        </div>
        
        <div class="budget-info">
            <p class="topic-title"><b>Budget overview Details</b></p>
            <p><span class="label"><b>Boutique Project:</b></span> {!RECO_Project__c.Name}</p>
            <p><span class="label"><b>Project Description:</b></span> {!RECO_Project__c.Project_Name__c}</p>
            <p><span class="label"><b>Project Status:</b></span> {!RECO_Project__c.Status__c}</p>
            <p><span class="label"><b>Date:</b></span> <apex:outputText value=" {!NOW()}"/></p>
            
            
        </div>
        
        
         <div class="clearfix" style="clear: both;width: 100%;"></div>
        
        <apex:variable var="i" value="{!0}"/>
        <apex:repeat value="{!budgetOverviewList}" var="bo">
        <apex:outputPanel rendered="{!NOT(bo.Budget_Item__c=='Total')}">
        <div class="report-wrapper" >
            <h4 class="report-headline" style="font-size: 18px; font-weight: bold; margin: 15px 0;">{!bo.Budget_Item__c}</h4>
            <div class="estimate-wrapper" style="width: 45%; padding-right: 15px; border-top: 1px solid #CCCCCC; float: left;">
                
        <span class="report-heading" style="border-bottom: 0px solid #cccccc;  display: block;  font-size: 12px; font-weight: bold;  padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;">Estimate</span>
                <table cell-spacing="0" class="table estimate-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                    <tr>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;width:80px;">Level 2</th>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;width:60px;">Level 3</th>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;width:40px;">Description</th>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;width:71px;">{!RECO_Project__c.Currency__c} (local)</th>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;width:65px;">CHF</th>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;width:38px;">% Total</th>
                        <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF/SQM</th>
                        
                    </tr>
                    
                    <apex:repeat value="{!recoEstiList}" var="est">
                      <apex:outputPanel rendered="{!est.Level_1__c==bo.Budget_Item__c}">
                        <tr >
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:70px;display:inline-block;">{!LEFT(est.Level_2__c, 20)}</td>
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:50px;">{!LEFT(est.Level_3__c, 20)}</td>
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:46px;">{!LEFT(est.Description__c, 20)}</td>
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:64px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!est.Amount_local__c}"/></apex:outputText></td>
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:60px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!est.Amount_CHF__c}"/></apex:outputText></td>
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:36px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(overallTotal.Estimate_CHF__c!=null,overallTotal.Estimate_CHF__c!=0), (est.Amount_CHF__c / overallTotal.Estimate_CHF__c * 100), '')}"/></apex:outputText></td>
                            <td style="border: 1px solid #eee;padding: 2px;font-size:10px;width:42px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!est.Cost_m2_CHF__c}"/></apex:outputText></td>
                        </tr>
                      </apex:outputPanel>
                    </apex:repeat>
                    
                    <tr>
                        <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                        <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                        <td style="border: 1px solid #eee;padding: 5px;" colspan="5">
                            <table class="table sub-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 8px; width: 100%;">
                                <tr>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">&nbsp;</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">{!RECO_Project__c.Currency__c} (local)</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">CHF</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">% Total</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">CHF/SQM</th>
                                </tr>
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,false,true)}">
                                <tr>
                                    <td style="border: 1px solid #eee;padding: 5px;">SubTotal {!bo.Budget_Item__c}</td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_local__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_CHF__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(overallTotal.Estimate_CHF__c!=null,overallTotal.Estimate_CHF__c!=0), (bo.Estimate_CHF__c / overallTotal.Estimate_CHF__c) * 100, '')}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_per_M2__c}"/></apex:outputText></td>  
                                </tr>
                                </apex:outputPanel>
                               
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,true,false)}">
                                  <tr>
                                    <td style="border: 1px solid #eee;padding: 5px;">SubTotal {!bo.Budget_Item__c}</td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_local_Private__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_CHF_Private__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(overallTotal.Estimate_CHF_Private__c!=null,overallTotal.Estimate_CHF_Private__c!=0), (bo.Estimate_CHF_Private__c/ overallTotal.Estimate_CHF_Private__c) * 100, '')}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_per_M2_Private__c}"/></apex:outputText></td>  
                                </tr>
                                </apex:outputPanel>
                                
                            </table>
                            
                            
                            
                        </td>
                    </tr>
                    
                </table>
                
                
                
            </div>
            
            <div class="cost-wrapper" style="width: 53%; padding-left: 0px; border-top: 1px solid #CCCCCC; float: left;">

                <span class="report-heading" style="border-bottom: 0px solid #cccccc;  display: block;  font-size: 12px; font-weight: bold;  padding: 10px;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    width: 100%;">Cost</span>
                <table class="table estimate-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                    <tr>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:65px;">Level 2</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:60px;">Level 3</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:40px;">Description</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:40px;">Supplier</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:57px;">{!RECO_Project__c.Currency__c} (local)</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:50px;">CHF</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:45px;">% Total</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;">CHF/SQM</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;width:50px">Status</th>
                        <th style="border: 1px solid #eee;padding: 1px; background: #999999;">Extra</th>
                        
                    </tr>
                    <apex:repeat value="{!recoCostItemList}" var="cost">
                            <apex:outputPanel rendered="{!cost.Level_1__c==bo.Budget_Item__c}">
                    <tr>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:56px;max-width:25px;word-wrap: break-word;"><apex:outputText value="{!LEFT(cost.Level_2__c, 20)}" style="word-wrap: break-word;max-width:25px;"/></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:53px;"><apex:outputText value="{!LEFT(cost.Level_3__c, 20)}"/></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:47px;"><apex:outputText value="{!LEFT(cost.Description__c, 20)}"/></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:38px;"><apex:outputText value="{!LEFT(cost.Offer__r.Supplier__r.Name, 20)}"/></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:50px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!cost.Validated_amount_local__c}"/></apex:outputText></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:45px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!cost.Validated_amount_CHF__c}"/></apex:outputText></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:43px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(overallTotal.Total_Cost_CHF__c!=null,overallTotal.Total_Cost_CHF__c!=0), (cost.Validated_amount_CHF__c / overallTotal.Total_Cost_CHF__c * 100), '')}"/></apex:outputText></td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;width:43px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!cost.Cost_m2_CHF__c}"/></apex:outputText></td>
                            <td style="width:43px;font-size:10px;border: 1px solid #eee;padding: 1px;{!CASE(cost.RecordType.Name,'NCAFE Confirmed','background-color:#89d989;','NCAFE Expected','background-color:#ff8b8b;','Confirmed','background-color:#89d989;', 'Expected', 'background-color:#ff8b8b;','')};}">
                          <apex:outputText value="{!cost.RecordType.Name}" rendered="{!if(cost.RecordType.Name!='NCAFE Confirmed' && cost.RecordType.Name!='NCAFE Expected',true,false)}"/>
                                    <apex:outputText value="Approved" rendered="{!if(cost.RecordType.Name='NCAFE Confirmed',true,false)}"/>
                                    <apex:outputText value="Expected" rendered="{!if(cost.RecordType.Name='NCAFE Expected',true,false)}"/>
                                    </td>
                            <td style="font-size:10px;border: 1px solid #eee;padding: 1px;"><img width="21" height="16" title="{!IF(cost.Extra_cost__c='Yes', '','Not ')}Checked" class="checkImg" alt="{!IF(cost.Extra_cost__c='Yes', '','Not ')}Checked" src="/img/checkbox_{!IF(cost.Extra_cost__c='Yes', 'checked','unchecked')}.gif"/></td>
                    </tr>
                    </apex:outputPanel>
                        </apex:repeat>
                    
                    <tr>
                        <apex:variable var="varianceLocal" value="{!bo.Total_Cost_local__c - bo.Estimate_local__c}" />
                        <apex:variable var="varianceChf" value="{!bo.Total_Cost_CHF__c - bo.Estimate_CHF__c}" />
                        <apex:variable var="varianceSqm" value="{!bo.Confirmed_Cost_per_M2__c - bo.Estimate_per_M2__c}" />
                        <apex:variable var="varianceSqm" value="{!IF(NOT(ISNULL(varianceSqm)), varianceSqm, 0)}" />
                        <apex:variable var="varianceLocalPerc" value="{!IF(AND(bo.Estimate_local__c!=null, bo.Estimate_local__c!=0), bo.Total_Cost_local__c / bo.Estimate_local__c *100, 0)}" />
                        
                        
                        
                        <apex:variable var="varianceLocalPrivate" value="{!bo.Total_Cost_local_Private__c - bo.Estimate_local_Private__c}" />
                        <apex:variable var="varianceChfPrivate" value="{!bo.Total_Cost_CHF_Private__c - bo.Estimate_CHF_Private__c}" />
                        <apex:variable var="varianceSqmPrivate" value="{!bo.Confirmed_Cost_per_M2_Private__c - bo.Estimate_per_M2_Private__c}" />
                        <apex:variable var="varianceSqmPrivate" value="{!IF(NOT(ISNULL(varianceSqmPrivate)), varianceSqmPrivate, 0)}" />
                        <apex:variable var="varianceLocalPercPrivate" value="{!IF(AND(bo.Estimate_local_Private__c!=null, bo.Estimate_local_Private__c!=0), bo.Total_Cost_local_Private__c / bo.Estimate_local_Private__c *100, 0)}" />
                        
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td colspan="6">
                            <table class="table sub-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                                <tr>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;min-width:35px;">&nbsp;</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">{!RECO_Project__c.Currency__c}(local)</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">CHF</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;min-width:37px;">% Total</th>
                                    <th style="border: 1px solid #eee;padding: 2px; background: #999999;">CHF/SQM</th>
                                </tr>
                                
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,false,true)}">
                                <tr >
                                    <td style="border: 1px solid #eee;padding: 2px;" >SubTotal {!bo.Budget_Item__c}</td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_local__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_CHF__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(overallTotal.Total_Cost_CHF__c!=null,overallTotal.Total_Cost_CHF__c!=0), (bo.Total_Cost_CHF__c / overallTotal.Total_Cost_CHF__c * 100), '')}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Confirmed_Cost_per_M2__c}"/></apex:outputText></td>
                                    
                                </tr>
                                </apex:outputPanel>
                                
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,true,false)}">
                                <tr >
                                    <td style="border: 1px solid #eee;padding: 2px;" >SubTotal {!bo.Budget_Item__c}</td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_local_Private__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_CHF_Private__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(overallTotal.Total_Cost_CHF_Private__c!=null,overallTotal.Total_Cost_CHF_Private__c!=0), (bo.Total_Cost_CHF_Private__c/ overallTotal.Total_Cost_CHF_Private__c* 100), '')}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; "><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Confirmed_Cost_per_M2_Private__c}"/></apex:outputText></td>
                                    
                                </tr>
                               </apex:outputPanel>
                                
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,false,true)}">
                                <tr>
                                    <td  style="border: 1px solid #eee;padding: 5px;min-width:100px !important;width:390px !important;">Variance (vs Estimate)</td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceLocal > 0,'#ff8b8b', '#89d989')};"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceLocal}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceChf > 0,'#ff8b8b', '#89d989')};" ><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceChf}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"></td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceSqm > 0,'#ff8b8b', '#89d989')};"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceSqm}"/></apex:outputText></td> 
                                </tr>
                                 </apex:outputPanel>
                                
                                 <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,true,false)}">
                                 <tr>
                                    <td  style="border: 1px solid #eee;padding: 5px;min-width:100px !important;width:390px !important;">Variance (vs Estimate)</td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceLocalPrivate> 0,'#ff8b8b', '#89d989')};"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceLocalPrivate}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceChfPrivate > 0,'#ff8b8b', '#89d989')};" ><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceChfPrivate }"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;"></td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceSqmPrivate > 0,'#ff8b8b', '#89d989')};"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceSqmPrivate }"/></apex:outputText></td> 
                                </tr>
                                </apex:outputPanel>
                                
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,false,true)}">
                                <tr>
                                    <td style="border: 1px solid #eee;padding: 5px;">Variance (Vs Estimate)%</td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceLocalPerc > 100,'#ff8b8b', '#89d989')};" > <apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceLocalPerc}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                                    <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                                    <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                                    
                                </tr>
                                </apex:outputPanel>
                                
                                <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,true,false)}">
                                 <tr>
                                    <td style="border: 1px solid #eee;padding: 5px;">Variance (Vs Estimate)%</td>
                                    <td style="border: 1px solid #eee;padding: 5px;background-color:{!IF(varianceLocalPercPrivate > 100,'#ff8b8b', '#89d989')};" > <apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceLocalPercPrivate }"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                                    <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                                    <td style="border: 1px solid #eee;padding: 5px;">&nbsp;</td>
                                    
                                </tr>
                                </apex:outputPanel>
                                
                            </table>
                            
                            
                            
                        </td>
                    </tr>
                    
                </table>
                

                
                
            </div>
            
            <div class="clearfix" style="clear: both;width: 100%;"></div>
        </div>
        
    </apex:outputPanel>
    <div class="clearfix" style="clear: both;width: 100%;"></div>





<apex:outputPanel rendered="{!bo.Budget_Item__c=='Total'}">
<br/><br/><br/><br/><br/>
<apex:variable var="totalCAPEXLocal" value="{!RECO_Project__c.Total_CapEx_Y1_local__c + RECO_Project__c.Total_CapEx_Y2_local__c}" />
            <apex:variable var="totalCAPEXCHF" value="{!RECO_Project__c.Total_CapEx_Y1_CHF__c + RECO_Project__c.Total_CapEx_Y2_CHF__c}" />
            <apex:variable var="sellingArea" value="{!IF(RECO_Project__c.RecordType.Name='Boutique Pop-up Project', RECO_Project__c.Available_Area__c, IF(RECO_Project__c.RecordType.Name='N Cube Project', RECO_Project__c.Available_Selling_Area_m2__c, RECO_Project__c.Net_Selling_m2__c))}" />
            <apex:variable var="sellingArea" value="{!IF(NOT(ISNULL(sellingArea)) && sellingArea>0, sellingArea, 1)}" />

            <apex:variable var="totalCAPEXPerSqm" value="{!IF(AND(sellingArea!=null,sellingArea!=0), totalCAPEXCHF / sellingArea, 0)}" />

            <apex:variable var="varianceEstimateCostLocal" value="{!bo.Estimate_local__c - totalCAPEXLocal}" />
            <apex:variable var="varianceEstimateCostChf" value="{!bo.Estimate_CHF__c - totalCAPEXCHF}" />
            <apex:variable var="varianceEstimateSqm" value="{!bo.Estimate_per_M2__c - totalCAPEXPerSqm}" />
            <apex:variable var="varianceEstimateSqm" value="{!IF(NOT(ISNULL(varianceEstimateSqm)), varianceEstimateSqm, 0)}" />
            <apex:variable var="varianceEstimateCostLocalPerc" value="{!IF(AND(totalCAPEXLocal!=null, totalCAPEXLocal != 0), bo.Estimate_local__c / totalCAPEXLocal * 100, 0)}" />
            
            <apex:variable var="varianceCostLocal" value="{!bo.Total_Cost_local__c - totalCAPEXLocal}" />
            <apex:variable var="varianceCostChf" value="{!bo.Total_Cost_CHF__c - totalCAPEXCHF}" />
            <apex:variable var="varianceCostSqm" value="{!IF(AND(sellingArea!=null,sellingArea!=0), bo.Confirmed_Cost_per_M2__c - (totalCAPEXCHF / sellingArea), 0)}" />
            <apex:variable var="varianceCostSqm" value="{!IF(NOT(ISNULL(varianceCostSqm)), varianceCostSqm, 0)}" />
            <apex:variable var="varianceCostLocalPerc" value="{!IF(AND(totalCAPEXLocal!=null, totalCAPEXLocal != 0), bo.Total_Cost_local__c / totalCAPEXLocal * 100, 0)}" />
            
            
            
            
            
            
             <apex:variable var="totalCAPEXLocalPrivate" value="{!RECO_Project__c.Total_CapEx_Y1_local__c + RECO_Project__c.Total_CapEx_Y2_local__c}" />
            <apex:variable var="totalCAPEXCHFPrivate" value="{!RECO_Project__c.Total_CapEx_Y1_CHF__c + RECO_Project__c.Total_CapEx_Y2_CHF__c}" />
            <apex:variable var="sellingAreaPrivate" value="{!IF(RECO_Project__c.RecordType.Name='Boutique Pop-up Project', RECO_Project__c.Available_Area__c, IF(RECO_Project__c.RecordType.Name='N Cube Project', RECO_Project__c.Available_Selling_Area_m2__c, RECO_Project__c.Net_Selling_m2__c))}" />
            <apex:variable var="sellingAreaPrivate" value="{!IF(NOT(ISNULL(sellingArea)) && sellingArea>0, sellingArea, 1)}" />

            <apex:variable var="totalCAPEXPerSqmPrivate" value="{!IF(AND(sellingArea!=null,sellingArea!=0), totalCAPEXCHFPrivate / sellingAreaPrivate, 0)}" />

            <apex:variable var="varianceEstimateCostLocalPrivate" value="{!bo.Estimate_local_Private__c - totalCAPEXLocalPrivate}" />
            <apex:variable var="varianceEstimateCostChfPrivate" value="{!bo.Estimate_CHF_Private__c - totalCAPEXCHFPrivate}" />
            <apex:variable var="varianceEstimateSqmPrivate" value="{!bo.Estimate_per_M2_Private__c - totalCAPEXPerSqmPrivate}" />
            <apex:variable var="varianceEstimateSqmPrivate" value="{!IF(NOT(ISNULL(varianceEstimateSqmPrivate)), varianceEstimateSqmPrivate, 0)}" />
            <apex:variable var="varianceEstimateCostLocalPercPrivate" value="{!IF(AND(totalCAPEXLocalPrivate!=null, totalCAPEXLocalPrivate != 0), bo.Estimate_local_Private__c / totalCAPEXLocalPrivate * 100, 0)}" />
            
            <apex:variable var="varianceCostLocalPrivate" value="{!bo.Total_Cost_local_Private__c - totalCAPEXLocalPrivate}" />
            <apex:variable var="varianceCostChfPrivate" value="{!bo.Total_Cost_CHF_Private__c - totalCAPEXCHFPrivate}" />
            <apex:variable var="varianceCostSqmPrivate" value="{!IF(AND(sellingAreaPrivate!=null,sellingAreaPrivate!=0), bo.Confirmed_Cost_per_M2_Private__c - (totalCAPEXCHFPrivate / sellingAreaPrivate), 0)}" />
            <apex:variable var="varianceCostSqmPrivate" value="{!IF(NOT(ISNULL(varianceCostSqmPrivate)), varianceCostSqmPrivate, 0)}" />
            <apex:variable var="varianceCostLocalPercPrivate" value="{!IF(AND(totalCAPEXLocalPrivate!=null, totalCAPEXLocalPrivate != 0), bo.Total_Cost_local_Private__c / totalCAPEXLocalPrivate * 100, 0)}" />
            
            
            
            
            
            
             <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,false,true)}">
        <div class="report-wrapper">
            <h4 class="report-headline">Grand Total</h4>
            <div class="estimate-wrapper" style="width: 40%; padding-right: 15px; border-top: 1px solid #CCCCCC; float: left;">
                
                
                <!-- sub-report -1 -->
                <div class="sub-report-wrapper" style="width: 300px; margin: 15px auto;">
                    <table class="table sub-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                        <tr>
                            <th style="background: none;">&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">{!RECO_Project__c.Currency__c} (local)</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF</th>
                            <th>&nbsp;&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF/SQM</th>
                            
                        </tr>
                        
                                <tr>
                                    <td>Estimate</td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_local__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_CHF__c}"/></apex:outputText></td>
                                    <td></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_per_M2__c}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Total CAPEX</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXLocal}"/></apex:outputText></td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXCHF}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(sellingArea!=null,sellingArea!=0), totalCAPEXCHF / sellingArea, '')}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Variance</td>
                                    <td style="background-color:{!IF(ISNULL(varianceEstimateCostLocal ),'#ccc', IF(varianceEstimateCostLocal > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateCostLocal}"/></apex:outputText></td>
                                    <td style="background-color:{!IF(ISNULL(varianceEstimateCostChf),'#ccc', IF(varianceEstimateCostChf  > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateCostChf}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:{!IF(ISNULL(varianceEstimateSqm),'#ccc' , IF( varianceEstimateSqm > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateSqm}"/></apex:outputText></td>
                                    
                                </tr>
                                
                                <tr>
                                    <td>Variance %</td>
                                    <td style="background-color:{!IF(varianceEstimateCostLocalPerc > 0,'#ff8b8b', '#89d989')};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateCostLocalPerc}"/></apex:outputText></td>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td ></td>
                                    
                                </tr>
                                <tr style="height:20px;"/>
                                
                                
                                <tr>
                                    <td>Offers Total</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!RECO_Project__c.OfferSum__c}"/></apex:outputText></td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!RECO_Project__c.OfferSumCHF__c}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td ></td>
                                    
                                </tr>
                                
                                <tr>
                                    
                                    <td class="levelExt"><apex:outputText value="PO Total"/></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;">
                                        <apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(NOT(posum=NULL), posum, 0)}"/></apex:outputText>
                                    </td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;">
                                        <apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(NOT(posumchf=NULL), posumchf, 0)}"/></apex:outputText>
                                    </td>
                                </tr>
                                <tr style="height:20px;"/>
                                 <tr>
                                
                                <td class="levelExt"><apex:outputText value="Number of Offers"/></td>
                                <td style="border: 1px solid #eee;padding: 2px; font-size:10px;">
                                    <apex:outputfield value="{!RECO_Project__c.NumberOfOffers__c}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="levelExt"><apex:outputText value="Number of PO"/></td>
                                <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;">
                                    {!IF(NOT(posize=NULL), posize, 0)}
                                </td>
                            </tr>
                        
                    </table>        
                    
                    
                    
                </div>
                
                <!-- / sub-report -1 -->
                
                <!-- sub-report -1 -->
              
                
                <!-- / sub-report -1 -->


                <!-- sub-report -1 -->
               
                
                <!-- / sub-report -1 -->
                                    
                
                
                
            </div>
            
            <div class="cost-wrapper" style="border-left: 0;width: 40%; padding-right: 15px; border-top: 1px solid #CCCCCC; float: left;padding-left:100px;">

                <!-- sub-report -1 -->
                <div class="sub-report-wrapper" style="width: 300px; margin: 15px auto;">
                    <table class="table sub-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                        <tr>
                            <th style="background: none;">&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">{!RECO_Project__c.Currency__c} (local)</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF</th>
                            <th>&nbsp;&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF/SQM</th>
                            
                        </tr>
                        
                                <tr>
                                    <td>Cost</td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_local__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_CHF__c}"/></apex:outputText></td>
                                    <td></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Confirmed_Cost_per_M2__c}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Total CAPEX</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXLocal}"/></apex:outputText></td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXCHF}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(sellingArea!=null,sellingArea!=0), totalCAPEXCHF / sellingArea, '')}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Variance</td>
                                    <td style="background-color:{!IF(ISNULL(varianceCostLocal),'#ccc', IF(varianceCostLocal > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}" ><apex:param value="{!varianceCostLocal}"/></apex:outputText></td>
                                    <td style="background-color:{!IF(ISNULL(varianceCostChf),'#ccc', IF(varianceCostChf > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceCostChf}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:{!IF(ISNULL(varianceCostSqm ),'#ccc', IF(varianceCostSqm > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceCostSqm}"/></apex:outputText></td>
                                    
                                </tr>
                                
                                <tr>
                                    <td>Variance %</td>
                                    <td style="background-color:{!IF(varianceCostLocalPerc > 100,'#ff8b8b', '#89d989')};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceCostLocalPerc}"/></apex:outputText></td>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td ></td>
                                    
                                </tr>
                               
                                
                                
                                
                                
                        
                    </table>        
                    
                    
                    
                </div>
                
                <!-- / sub-report -1 -->
                                


                
                
            </div>
            
            
            
            
            
            
            
            <div class="clearfix" style="clear: both;width: 100%;"></div>
        </div>
        
        
        
        
        </apex:outputPanel>
        
        
         <apex:outputPanel layout="none" rendered="{!if($Profile.Name==$Label.Design_Architect_Profile || $Profile.Name==$Label.Furniture_Supplier_Profile || $Profile.Name==$Label.Manager_Architect_Profile,true,false)}">
        
         <div class="report-wrapper">
            <h4 class="report-headline">Grand Total</h4>
            <div class="estimate-wrapper" style="width: 40%; padding-right: 15px; border-top: 1px solid #CCCCCC; float: left;">
                
                
                <!-- sub-report -1 -->
                <div class="sub-report-wrapper" style="width: 300px; margin: 15px auto;">
                    <table class="table sub-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                        <tr>
                            <th style="background: none;">&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">{!RECO_Project__c.Currency__c} (local)</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF</th>
                            <th>&nbsp;&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF/SQM</th>
                            
                        </tr>
                        
                                <tr>
                                    <td>Estimate</td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_local_Private__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_CHF_Private__c}"/></apex:outputText></td>
                                    <td></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Estimate_per_M2_Private__c}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Total CAPEX</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXLocalPrivate}"/></apex:outputText></td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXCHFPrivate}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(sellingAreaPrivate!=null,sellingAreaPrivate!=0), totalCAPEXCHFPrivate / sellingAreaPrivate, '')}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Variance</td>
                                    <td style="background-color:{!IF(ISNULL(varianceEstimateCostLocalPrivate ),'#ccc', IF(varianceEstimateCostLocalPrivate > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateCostLocalPrivate}"/></apex:outputText></td>
                                    <td style="background-color:{!IF(ISNULL(varianceEstimateCostChfPrivate),'#ccc', IF(varianceEstimateCostChfPrivate  > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateCostChfPrivate}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:{!IF(ISNULL(varianceEstimateSqmPrivate),'#ccc' , IF( varianceEstimateSqmPrivate > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateSqmPrivate}"/></apex:outputText></td>
                                    
                                </tr>
                                
                                <tr>
                                    <td>Variance %</td>
                                    <td style="background-color:{!IF(varianceEstimateCostLocalPercPrivate > 0,'#ff8b8b', '#89d989')};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceEstimateCostLocalPercPrivate}"/></apex:outputText></td>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td ></td>
                                    
                                </tr>
                                <tr style="height:20px;"/>
                                
                                
                                <tr>
                                    <td>Offers Total</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!RECO_Project__c.OfferSum__c}"/></apex:outputText></td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!RECO_Project__c.OfferSumCHF__c}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td ></td>
                                    
                                </tr>
                                
                                <tr>
                                    
                                    <td class="levelExt"><apex:outputText value="PO Total"/></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;">
                                        <apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(NOT(posum=NULL), posum, 0)}"/></apex:outputText>
                                    </td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;">
                                        <apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(NOT(posumchf=NULL), posumchf, 0)}"/></apex:outputText>
                                    </td>
                                </tr>
                                <tr style="height:20px;"/>
                                 <tr>
                                
                                <td class="levelExt"><apex:outputText value="Number of Offers"/></td>
                                <td style="border: 1px solid #eee;padding: 2px; font-size:10px;">
                                    <apex:outputfield value="{!RECO_Project__c.NumberOfOffers__c}"/>
                                </td>
                            </tr>
                            <tr>
                                <td class="levelExt"><apex:outputText value="Number of PO"/></td>
                                <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;">
                                    {!IF(NOT(posize=NULL), posize, 0)}
                                </td>
                            </tr>
                        
                    </table>        
                    
                    
                    
                </div>
                
                <!-- / sub-report -1 -->
                
                <!-- sub-report -1 -->
              
                
                <!-- / sub-report -1 -->


                <!-- sub-report -1 -->
               
                
                <!-- / sub-report -1 -->
                                    
                
                
                
            </div>
            
            <div class="cost-wrapper" style="border-left: 0;width: 40%; padding-right: 15px; border-top: 1px solid #CCCCCC; float: left;padding-left:100px;">

                <!-- sub-report -1 -->
                <div class="sub-report-wrapper" style="width: 300px; margin: 15px auto;">
                    <table class="table sub-report" style=" border-collapse: collapse; border-spacing: 0; font-size: 10px; width: 100%;">
                        <tr>
                            <th style="background: none;">&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">{!RECO_Project__c.Currency__c} (local)</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF</th>
                            <th>&nbsp;&nbsp;</th>
                            <th style="border: 1px solid #eee;padding: 2px; background: #999999;font-size:10px;">CHF/SQM</th>
                            
                        </tr>
                        
                                <tr>
                                    <td>Cost</td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_local_Private__c}"/></apex:outputText></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Total_Cost_CHF_Private__c}"/></apex:outputText></td>
                                    <td></td>
                                    <td style="border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!bo.Confirmed_Cost_per_M2_Private__c}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Total CAPEX</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXLocalPrivate}"/></apex:outputText></td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!totalCAPEXCHFPrivate}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:#ccc;border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!IF(AND(sellingAreaPrivate!=null,sellingAreaPrivate!=0), totalCAPEXCHFPrivate / sellingAreaPrivate, '')}"/></apex:outputText></td>
                                    
                                </tr>
                                <tr>
                                    <td>Variance</td>
                                    <td style="background-color:{!IF(ISNULL(varianceCostLocalPrivate),'#ccc', IF(varianceCostLocalPrivate > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}" ><apex:param value="{!varianceCostLocalPrivate}"/></apex:outputText></td>
                                    <td style="background-color:{!IF(ISNULL(varianceCostChfPrivate),'#ccc', IF(varianceCostChfPrivate > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"> <apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceCostChfPrivate}"/></apex:outputText></td>
                                    <td>&nbsp;</td>
                                    <td style="background-color:{!IF(ISNULL(varianceCostSqmPrivate ),'#ccc', IF(varianceCostSqmPrivate > 0,'#ff8b8b', '#89d989'))};border: 1px solid #eee;padding: 2px; font-size:10px;"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceCostSqmPrivate}"/></apex:outputText></td>
                                    
                                </tr>
                                
                                <tr>
                                    <td>Variance %</td>
                                    <td style="background-color:{!IF(varianceCostLocalPercPrivate > 100,'#ff8b8b', '#89d989')};border: 1px solid #eee;padding: 2px; font-size:10px;" class="light-green"><apex:outputText value="{0,number,###,##0}"><apex:param value="{!varianceCostLocalPercPrivate}"/></apex:outputText></td>
                                    <td> </td>
                                    <td>&nbsp;</td>
                                    <td ></td>
                                    
                                </tr>
                               
                                
                                
                                
                                
                        
                    </table>        
                    
                    
                    
                </div>
                
                <!-- / sub-report -1 -->
                                


                
                
            </div>
            
            
            
            
            
            
            
            <div class="clearfix" style="clear: both;width: 100%;"></div>
        </div>
        
         </apex:outputPanel>
        
        
        
        
        
        
        
        
        
        
        
     </apex:outputPanel>  
    
    <apex:outputPanel rendered="{!IF(i==1 || i==3 || i==5,true,false)}" >  
        <div style="page-break-after: always;"/>
</apex:outputPanel>
   
    <apex:variable var="i" value="{!i+1}"/>
    </apex:repeat>  
        
        
    </div>
    
    
    
</body>

</apex:page>