<!--  
*   @Class      :   SendPoNotification.page
*   @Description:   Page called by the Send Notification button on the Purchase Order object.
*   @Author     :   XXX
*   @Created    :   XXX
*
*   Modification Log :  
*   ----------------------------------------------------------------------------------------------------------------------------
*   Developer       Date            Description
*   ----------------------------------------------------------------------------------------------------------------------------    
*   Jacky Uy        12 AUG 2014     Included PO PDF Attachments.
*
* 
-->

<apex:page standardController="Purchase_Order__c" extensions="SendPONotificationController" action="{!Template}">

    <apex:form rendered="{!error}">
            <apex:pageblock >    
            <apex:pageMessages />
            <apex:pageblockButtons location="bottom">
                <apex:commandbutton value="Cancel" action="{!Cancel}" immediate="true"/>
            </apex:pageblockButtons>
            </apex:pageblock> 
    </apex:form>
    
    <apex:form id="FORM" rendered="{!!error}">
        <apex:pageMessages />    
        <apex:pageblock title="Please complete the form before sending the notification" id="PB">
            <apex:pageblockButtons location="bottom">
                <apex:commandbutton value="Send Notification" action="{!Send}"/>
                <apex:commandbutton value="Cancel" action="{!Cancel}"/>
            </apex:pageblockButtons>
            <apex:pageblocksection columns="1" id="PBS">
                <apex:pageblocksectionItem />    
                <apex:outputText label="To:" value="{!supplier}"/>
                <apex:inputText value="{!additionalrecipient}" label="Additional CC:"/>
                <apex:inputfield value="{!o.Supplier_Contact__c}" label="Additional CC: "/>
                <apex:outputText label="CC:" value="{!CC}"/>
                <apex:outputText value="{!subject}" label="Subject:"/>
                <apex:outputText label="Offer Attachment:" value="{!title}" id="Att"/>
                <apex:repeat value="{!poAttachments}" var="item">
                	<apex:outputText label="PO Attachment:" value="{!item.Name}"/>
                </apex:repeat>
                <apex:inputHidden value="{!idtitle}" id="Attid" />
                <apex:inputTextArea id="editTemplate" value="{!mailHTMLbody}" richtext="true" cols="60" rows="36"/>
            </apex:pageblocksection> 
        </apex:pageblock>
        
        <script>
        var cambiamouse=function cms(e){
            e.style.cursor='pointer';
        }
        
        var link=function redir(){
             var attid= document.getElementById("j_id0:FORM:PB:PBS:Attid");
             var ind = document.URL;
             var all = ind.split("apex");
             var fin = all[0]+ attid.value;
             window.open(fin);
             //alert (attid.value);
        }
        
        var att= document.getElementById("j_id0:FORM:PB:PBS:Att");
        att.style.textDecoration="underline";
        if (att!=null)  {
            att.onclick=link;
            att.onmouseover=cambiamouse(att); 
        }
        
        </script>
        
    </apex:form>    

</apex:page>